__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/
.virtual_documents/
.DS_Store
Thumbs.db

outputs/**
!outputs/.gitkeep
!outputs/**/.gitkeep

reports/**
!reports/.gitkeep

data/processed/**
!data/processed/.gitkeep

data/formbricks_raw/**/*.csv
!data/formbricks_raw/**/*demo*.csv
data/raw/formbricks/**/*.csv

notebooks/outputs/*

docs/.obsidian

tmp/**